.header{

    display: flex;
    align-items: center;

    justify-content: space-between;
    background: rgba(229, 84, 115, 0.10);



}





 nav{ 
   
    padding: 30px 150px;
   

   
}


.text-bold{
    color: #272727;

font-family: 'Open Sans', sans-serif;
font-size: 60px;
font-weight: 400;
margin-bottom: 15px;



}


.bold-discription{
    color: rgba(39, 39, 39, 0.60);


}


.btn-color{
 border-radius: 8px;
background: #E55473;



padding: 20px 43px;

gap: 10px;


color: #FFF;
font-size: 20px;
font-weight: 700;



}



.profile-pic{
    margin-top: 50px;
    margin-right: 60px;
    width: 500px;
height: 600px;

}


.flex-text{
    text-align: center;
    margin-top: 150px;
}

.our{
    color: #272727;


font-size: 40px;

font-weight: 800;
}

.it-is-a-long{
    color: rgba(39, 39, 39, 0.60);
 margin-top: 0px;
font-size: 15px;
font-weight: 300;

}



.background-color{
    border-radius: 270px 270px 0px 0px;
background: rgba(167, 33, 98, 0.15);
width: 350px;
height: 450px;
flex-shrink: 0;
}

.background-color-a{
    border-radius: 250px 250px 0px 0px;
background: rgba(5, 151, 160, 0.15);
width: 350px;
height: 450px;
flex-shrink: 0;

}

.background-color-b {
    border-radius: 250px 250px 0px 0px;
background: rgba(71, 125, 17, 0.15);

width: 350px;
height: 450px;
flex-shrink: 0;
}




.pic-bk-color-1{

    width: 290px ;
    height: 450px;
    

}



.pic-bk-color-2{
    width: 300px;
height: 450px;
margin-left: 20px;


}

.pic-bk-color-3{
    width: 330px;
    height: 450px;
    flex-shrink: 0;

}


.flex-img{
    display: flex;
    margin-top: 30px;
    justify-content: center;

    gap: 10px;


 

    
 }


 .p{
    margin-top: 1px;

    color: #272727;


text-align: center;


 }




 .banner{
display: flex;
text-align: center;
 padding: 150px 30px 50px 150px;
 
margin-top: 150px;

    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);

 }
  
 

.center-{

    margin-top:100px;



}



 





 .red{
   color:#E55473
 }


 .bold-{
    color: #272727;
    font-family: 'Open Sans', sans-serif;
font-size: 40px;

font-weight: 800;

 }
.singup-style{

    color: #FFF;




    padding: 20px 43px;
    gap: 10px;


    border-radius: 8px;
background: #E55473;

}

  


.color-main{

    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}
 .img-style{

    width: 318px;
height: 420px;
margin-top: 30px;
  margin-left: 120px;  
 }

.flex-title{
    text-align: center;
}

.text-bold{
    color: #272727;

font-size: 40px;

font-weight: 800;

}

.text-description{
    color: rgba(39, 39, 39, 0.60);

}

.justify-aling-center{

    margin-top: 50px;
    justify-content: center;

    display:flex;
    gap: 10px;
}


.flower1{
    width: 300px;
height: 380px;
}

.flower2{
    width: 300px;
    height: 380px;
}
.flower3{
    width: 300px;
    height: 380px;
}
.flower4{
    width: 300px;
    height: 380px;
}

.images-center{
    display: flex;


    text-align: center;


    justify-content: center;

    margin-top: 70px;
    border-radius: 8px;


    


}


.image-style{

    width: 1200px;
    height: 380px;
}






.t{
    text-align: center;
}





.get{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;

}

.coupon{

    color: rgba(39, 39, 39, 0.60);
}

.border{
    border-radius: 8px;
background: #FFF;
width: 500px;
height: 60px;



}

.textaling{
    color: #FFF;
    border-radius: 8px;
background: #E55473;

width: 130px;
height: 60px;

}

.bolder1{

background-color:   #302c2c;
 
text-align: center;


}



.red1{
    color: #E55473;

}
.red2{
 color: #FFFFFF;

}
.border3{
    color: rgb(231, 219, 219)
}

.border4{
    color: rgb(235, 237, 228)
}



